n8n/Negotiation part 2.json
{
  "name": "Negotiation part 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "sender": "wasifnadeem92743@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1424,
        352
      ],
      "id": "375914be-09a1-4060-8205-31775706785a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        368
      ],
      "id": "e5511330-2202-4cba-b406-edbbce15973c",
      "name": "Get a thread",
      "webhookId": "21187715-107e-400d-a5ac-4a75fa59b793",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        144
      ],
      "id": "95c2c2af-a5a3-4349-8433-7cd894556a45",
      "name": "Mark a message as read",
      "webhookId": "193423bc-3574-4100-ab8c-1bb1082d808d",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract sender name and full email body (not snippet)\nconst output = [];\n\nfor (const item of $input.all()) {\n  const messages = item.json.messages || [];\n\n  for (const msg of messages) {\n    const from = msg.From || '';\n    const payload = msg.payload || {};\n    let body = '';\n\n    // Try to extract plain text body\n    if (payload.body && payload.body.data) {\n      // Gmail API encodes body in base64url format, so decode it\n      body = Buffer.from(payload.body.data, 'base64').toString('utf8');\n    } \n    // If body is nested in parts (multipart emails)\n    else if (payload.parts) {\n      for (const part of payload.parts) {\n        if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n          body = Buffer.from(part.body.data, 'base64').toString('utf8');\n          break;\n        }\n      }\n    }\n\n    // Fallback to snippet if nothing found\n    if (!body) body = msg.snippet || '';\n\n    // Clean sender name\n    const nameMatch = from.match(/^(.*?)</);\n    const senderName = nameMatch ? nameMatch[1].trim() : from;\n\n    // Remove quoted replies (lines starting with “>” or \"On ... wrote:\")\n    body = body\n      .replace(/On\\s.+wrote:.+/gs, '')  // remove reply section\n      .replace(/>\\s?.+/g, '')           // remove quoted lines\n      .trim();\n\n    output.push({\n      json: {\n        sender: senderName,\n        body: body\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        816
      ],
      "id": "00fe5620-1c10-4f12-ba7b-b112e5bdc92a",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Combine all previous items into a single conversation\nconst allMessages = $input.all().map(item => item.json);\n\n// Optionally merge into a single string conversation\nconst conversationText = allMessages.map(m => `${m.sender}: ${m.body}`).join('\\n---\\n');\n\nreturn [{\n  json: {\n    conversation: allMessages,    // full objects\n    combinedText: conversationText // readable text version\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        816
      ],
      "id": "a8d36be7-a6d1-487a-937d-3af0856e3ea7",
      "name": "Code3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent document and email analysis assistant for a law firm handling medical bill negotiations.\n\nAnalyze the following email conversation between our law office and a health provider. The emails are in chronological order.\nDetermine the current negotiation standing based on the latest message from the provider.\n\nPossible categories:\n\naccepted → The provider clearly agreed to the offer or accepted the settlement amount.\n\nrejected → The provider refused, declined, or countered the offer.\n\nprovided details → The provider accepted the offer and also included payment or mailing details such as a name, address, or check information.\n\nasking for payment → The provider is requesting payment or follow-up on payment status (e.g., asking when payment will be sent, providing a reminder, or requesting proof of payment).\n\nunclear → If there’s no clear statement of acceptance, rejection, or payment request.\n\nRules:\n\nFocus on the most recent message from the provider, not from our law firm.\n\nIgnore signatures, quoted text, and auto-generated replies.\n\nBe strict: only categorize as \"provided details\" if the email contains explicit name, address, or payment information.\n\nIf the provider’s latest message is primarily asking for payment or checking payment status, use the “asking for payment” category.\n\nIf there’s no clear statement of acceptance, rejection, or payment inquiry, respond \"unclear\".\n\nAlso fetch the name of the service provider (It is in the first email's body, not in the email address. Beverly Law is our firm, so exclude that).\n\nFind the patient's name from the email.\n\nReturn a concise JSON response with the following format:\n\n{\n  \"status\": \"accepted | rejected | provided details | asking for payment | unclear\",\n  \"reasoning\": \"short explanation of why you categorized it this way\",\n  \"provider_message\": \"summarized text of the provider’s latest message\",\n  \"provider_name\": \"aaaaa\",\n  \"patient_name\": \"aaaa\"\n}\n\n\nEmails JSON:\n\n{{JSON.stringify($json.conversation)}}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        800
      ],
      "id": "70ea6606-9786-4628-a91a-e0a454671d7f",
      "name": "AI Agent",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini-2025-04-16",
          "mode": "list",
          "cachedResultName": "o4-mini-2025-04-16"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        1040
      ],
      "id": "2154ac72-f12a-475b-b7f0-1d328ca03c23",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7fbCuNCbBrhyTPqW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Intent\": \"aaa\",\n\t\"Confidence\": [\"Los Angeles\", \"San Francisco\", \"San Diego\"],\n    \"reasoning\": \"....\",\n    \"Provider_name\" : \"....\",\n    \"Patient_name\" : \"....\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        1040
      ],
      "id": "8cfc174e-787c-4fca-b90f-453685e987c0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.Intent }}",
                    "rightValue": "accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c6ef3c81-4c8f-44df-b59b-c6090b643172"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2d68dcd-6c3d-47eb-85a0-cd61d808baf7",
                    "leftValue": "={{ $json.output.Intent }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ab3faf4-dce1-40a7-a91b-ce8d8cdd4fbc",
                    "leftValue": "={{ $json.output.Intent }}",
                    "rightValue": "provided details",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55941849-efba-4c4e-9036-9a4dc5d67e72",
                    "leftValue": "={{ $json.output.Intent }}",
                    "rightValue": "asking for payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ac429709-a419-4efc-8afc-066fd73ea86a",
                    "leftValue": "={{ $json.output.Intent }}",
                    "rightValue": "unclear",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        800
      ],
      "id": "1a9aa0bc-e795-499b-bd5c-8e87562454c2",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/case/{{ $json.id }}/settlement/negotiations/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        400
      ],
      "id": "1803b0d0-6e3d-43e4-859a-510381e0f9d0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HTML analyzer.\nYour task:\n- Review the following HTML.\n- Determine the Providers IDs and Providers names providers names can be found in this class \"nopad bottom wordbreak\".\nAnd also fetch the patient's name.\nAnd also fetch Actuall bill\n\nHere is the HTML\n{{ $json.response }}\n\nAlso get the Provider's name the MPID from this and the ammount offered {{ $('Merge').item.json.text }} the name to whome the message was sent. Beverly Law is our firm's name not the provider\n\nSchema:\n{\n  \"MPID\": [\n    {\n      \"providername\": \"string\",\n      \"Amountoffered\": \"string\",\n      \"PatientName\": \"string\",\n      \"ActualBill\": \"string\"\n    }\n  ],\n  \"PID\": [\n    {\n      \"Provider Name\": \"string\",\n      \"Provider ID\": \"string\"\n    }\n  ]\n}\n### Output Rules\n- Output **only** valid JSON.\n- Use **exactly** the property names shown.\n- Do not wrap the JSON in code blocks.\n- Do not include any extra words like “Here is the result”.\n- The output must start with `{` and end with `}`.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1520,
        304
      ],
      "id": "30993a2e-da88-406c-8258-e2d81d2826b6",
      "name": "AI Agent1",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini-2025-04-16",
          "mode": "list",
          "cachedResultName": "o4-mini-2025-04-16"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1536,
        544
      ],
      "id": "46f3c6b1-d49b-4d8d-841c-b53bf610d37f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7fbCuNCbBrhyTPqW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Get a thread').item.json.messages[0].id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        368
      ],
      "id": "a733464f-03d0-46c7-846a-9d27530ca16d",
      "name": "Get a message",
      "webhookId": "b641f19f-63e9-4627-b31b-6a9769e729e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        416
      ],
      "id": "c2b74530-0f5d-4f66-99c2-e87e9e183d52",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \n  \"MPID\": [\n    {\n      \"providername\": \"string\",\n      \"Amountoffered\": \"string\",\n      \"PatientName\": \"string\",\n      \"ActualBill\": \"string\"\n    }\n  ],\n  \"PID\": [\n    {\n      \"Provider Name\": \"string\",\n      \"Provider ID\": \"string\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1664,
        544
      ],
      "id": "a8b26c32-22c6-449f-913b-11a944b65c7b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "// Get input JSON\nconst data = $input.first().json.output;\n\n// Normalize helper: lowercase, remove punctuation\nconst normalize = str =>\n  str?.toLowerCase().replace(/[^a-z\\s]/g, '').trim();\n\n// Extract meaningful tokens (ignore \"dr\", \"md\", etc.)\nconst getTokens = str =>\n  normalize(str)\n    ?.split(/\\s+/)\n    .filter(t => t && ![\"dr\", \"md\", \"mr\", \"mrs\", \"ms\"].includes(t));\n\n// Prepare tokens\nconst mpidTokens = getTokens(data.MPID[0].providername);\nconst pidList = data.PID;\n\n// Try to match using last-name or token overlap logic\nlet match = null;\n\n// 1️⃣ Try exact last name match first\nconst mpidLastName = mpidTokens[mpidTokens.length - 1];\nmatch = pidList.find(p => {\n  const pidTokens = getTokens(p[\"Provider Name\"]);\n  return pidTokens.includes(mpidLastName);\n});\n\n// 2️⃣ If no match found, try partial overlap\nif (!match) {\n  match = pidList.find(p => {\n    const pidTokens = getTokens(p[\"Provider Name\"]);\n    return mpidTokens.some(t => pidTokens.includes(t));\n  });\n}\n\n// Return both matched Provider ID and Amount offered\nreturn [{\n  matchedProviderID: match ? match[\"Provider ID\"] : null,\n  amountOffered: data.MPID[0].Amountoffered || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        416
      ],
      "id": "6c86de18-11be-4d49-9259-ee0a34a93300",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/case/{{ $('HTTP Request13').item.json.id }}/settlement/negotiations/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        416
      ],
      "id": "57f3a598-5c35-4aa1-bed4-f069839b00d9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/case/{{ $('HTTP Request13').item.json.id }}/settlement/accept-unaccept-health-lien/{{ $('Code').item.json.matchedProviderID }}/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        416
      ],
      "id": "85f2d4cf-7646-4e8b-b3e5-29c40f2eb1e8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        976,
        672
      ],
      "id": "ae6cb48d-819c-4def-be24-f9cc57adf0ad",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert negotiator the client has declined our previous offer You can check here {{ $json.text }} Now the prvious offering was 2/3 of 33% of orignal bill this time you will have to increase the amount and offer 33% of the orignal Bill. Create a professional sounding email to send to that provider use the information from previous email which is provided above, The email numbers or Fax whatever do not ask me to change anything as you will be sending this email directly. in the email do not mention that you are offering 33% make it sound like that's the most you can offer. If previously offered amount was alewady 33% of actual Bill {{ $json.text }} stay on your words that you can't offer more than 33% of actual bill without saying it's 33% mentioning 33%'s value instead'.\n\nalso provide actuall bill and amount offered.\nand patient name too.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1232,
        656
      ],
      "id": "8b7b8322-c52e-491c-8978-6c663044fefd",
      "name": "AI Agent2",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Subject\": [\n      \"string\"\n  ],\n  \"Body\": [\n    \n      \"Body\"\n    \n  ],\n  \"offeredbill\":\"amount\",\n  \"actualbill\":\"amount\",\n  \"Patientname\":\"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1312,
        944
      ],
      "id": "382ded3b-23d0-4c45-a1b9-99fee52d8760",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        944
      ],
      "id": "dd109fb0-50a1-4b61-b9c7-c7736d456f78",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7fbCuNCbBrhyTPqW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HTML analyzer.\nYour task:\n- Review the following HTML.\n- Determine the following details:\n\nhealth-liens-TOTAL_FORMS\n\nhealth-liens-INITIAL_FORMS\n\nhealth-liens-MIN_NUM_FORMS\n\nhealth-liens-MAX_NUM_FORMS\n\nsettlement-loans-TOTAL_FORMS\n\nsettlement-loans-INITIAL_FORMS\n\nsettlement-loans-MIN_NUM_FORMS\n\nsettlement-loans-MAX_NUM_FORMS\n\nhealth-insurance-liens-TOTAL_FORMS\n\nhealth-insurance-liens-INITIAL_FORMS\n\nhealth-insurance-liens-MIN_NUM_FORMS\n\nhealth-insurance-liens-MAX_NUM_FORMS\n\nmisc-liens-TOTAL_FORMS\n\nmisc-liens-INITIAL_FORMS\n\nmisc-liens-MIN_NUM_FORMS\n\nmisc-liens-MAX_NUM_FORMS\n\nattorney-liens-TOTAL_FORMS\n\nattorney-liens-INITIAL_FORMS\n\nattorney-liens-MIN_NUM_FORMS\n\nattorney-liens-MAX_NUM_FORMS\n\nhealth-liens-0-id\n\nhealth-liens-0-final_cost\n\nhealth-liens-1-id\n\nhealth-liens-1-final_cost\n\nhealth-liens-2-id\n\nhealth-liens-2-final_cost\n\nGet all the health-liens id and final_cost regardless of number they can range upto health-liens-100-id, health-liens-100-final_cost\n\n\nHere is the HTML\n{{ $json.response }}\n\n\n\n### Output Rules\n- Output **only** valid JSON.\n- Use **exactly** the property names shown.\n- Do not wrap the JSON in code blocks.\n- Do not include any extra words like “Here is the result”.\n- The output must start with `{` and end with `}`.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2320,
        416
      ],
      "id": "1c613517-d250-4dd0-a4f4-1792df07342a",
      "name": "AI Agent3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini-2025-04-16",
          "mode": "list",
          "cachedResultName": "o4-mini-2025-04-16"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2400,
        640
      ],
      "id": "79b584b9-c7bf-4e40-b6d7-4429e1df3bb5",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "7fbCuNCbBrhyTPqW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst aiOutput = JSON.parse($('AI Agent3').item.json.output);\nconst { matchedProviderID, amountOffered } = $('Code').item.json;\n\n// Clean amount (remove \"$\" and commas)\nconst cleanAmount = amountOffered.replace(/[^0-9.]/g, '');\n\n// Find matching lien ID and update its final_cost\nfor (const key in aiOutput) {\n  if (key.endsWith('-id') && aiOutput[key] === matchedProviderID) {\n    const index = key.match(/health-liens-(\\d+)-id/)[1];\n    const costKey = `health-liens-${index}-final_cost`;\n    aiOutput[costKey] = cleanAmount;\n    break;\n  }\n}\n\n// Return updated JSON as string\nreturn [{\n  updatedOutput: JSON.stringify(aiOutput)\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        416
      ],
      "id": "7d8087ee-3671-4123-8a1f-959070426220",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Parse the updatedOutput JSON string\nconst parsed = JSON.parse($input.first().json.updatedOutput);\n\n// Return it as a real JSON object for the next node\nreturn [parsed];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        416
      ],
      "id": "21eccf60-ef9f-491d-b87c-f86d0cfd38a9",
      "name": "Code4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://casepeerai.onrender.com/case/{{ $('HTTP Request13').item.json.id }}/settlement/negotiations/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "specifyBody": "string",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        416
      ],
      "id": "4b61698b-33a6-4c64-8727-b74bfb31484e",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "// Get the cleaned JSON from the previous node\nconst data = $input.first().json;\n\n// Turn it into URL-encoded key=value pairs\nconst formBody = Object.entries(data)\n  .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value ?? '')}`)\n  .join('&');\n\n// Return as raw string for HTTP body\nreturn [{ body: formBody }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        416
      ],
      "id": "48f60422-011f-41ef-bf0f-cb79f9805a8a",
      "name": "Code5"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge1').item.json.to.value[0].address }}",
        "subject": "={{ $json.output.Subject[0] }}",
        "emailType": "text",
        "message": "={{ $json.output.Body.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        720
      ],
      "id": "2c1870aa-a28f-47a6-a00f-4687f6337af1",
      "name": "Send a message",
      "webhookId": "fc78aaa3-7bdd-47f8-8b68-a5dc878b10d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Get a thread').item.json.messages[0].threadId }}",
        "messageId": "={{ $('Get a thread').item.json.messages[1].id }}",
        "message": "=Dear {{ $('AI Agent1').item.json.output.MPID[0].providername }},\n{{ $('AI Agent1').item.json.output.MPID[0].providername }}\nI hope you’re well. Following our recent agreement regarding the negotiated balance for {{ $('AI Agent1').item.json.output.MPID[0].PatientName }}, we’re preparing to issue payment.\n\nBefore sending it, could you please confirm the correct payee name and mailing address for the check? This will ensure prompt and accurate delivery.\n\nThank you for your cooperation and assistance.\n\nBest regards,\nNegotiation Officer\nBawerly Law Firm",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3776,
        416
      ],
      "id": "e3ca286f-bba1-4c5d-bb44-226c96e191c6",
      "name": "Reply to a message",
      "webhookId": "5e555b6a-997e-4c09-be0b-b229ead29333",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $node[\"Get a thread\"].json.messages[0].threadId }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        1216
      ],
      "id": "ec1ef879-e21d-4286-b2b6-1755198f584d",
      "name": "Get a thread1",
      "webhookId": "3ce369d4-c00f-4054-85a9-3d02d4457a7a",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ Get Gmail thread data from \"Get a thread1\"\nconst threadNode = $node[\"Get a thread1\"];\nconst thread =\n  threadNode?.json?.messages ||\n  threadNode?.items?.[0]?.json?.messages;\n\nif (!Array.isArray(thread)) {\n  return [\n    {\n      json: {\n        error:\n          \"No Gmail messages found. Check if the node name 'Get a thread1' matches exactly or if output has 'messages' array.\",\n      },\n    },\n  ];\n}\n\n// ✅ Gmail Base64 decoder\nfunction decodeGmailBase64(data) {\n  if (!data) return \"\";\n  const normalized = data.replace(/-/g, \"+\").replace(/_/g, \"/\");\n  return Buffer.from(normalized, \"base64\").toString(\"utf-8\");\n}\n\n// ✅ Text cleaner: removes \\n, \\r, \\t, extra spaces\nfunction cleanText(text) {\n  return text\n    .replace(/[\\r\\n\\t]+/g, \" \") // replace newlines and tabs with spaces\n    .replace(/\\s{2,}/g, \" \") // collapse multiple spaces\n    .trim();\n}\n\n// ✅ Extract cleaned messages\nconst cleaned = thread.map((msg) => {\n  const headers = msg.payload?.headers || [];\n  const fromHeader = headers.find(\n    (h) => h.name?.toLowerCase() === \"from\"\n  );\n  const from = msg.From || fromHeader?.value || \"Unknown Sender\";\n\n  let body = \"\";\n  if (msg.payload?.body?.data) {\n    body = decodeGmailBase64(msg.payload.body.data);\n  } else if (msg.payload?.parts?.length) {\n    const textPart = msg.payload.parts.find(\n      (p) => p.mimeType === \"text/plain\"\n    );\n    if (textPart?.body?.data) {\n      body = decodeGmailBase64(textPart.body.data);\n    }\n  }\n\n  return {\n    json: {\n      from,\n      body: cleanText(body),\n    },\n  };\n});\n\n// ✅ Return formatted array of objects\nreturn cleaned;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1216
      ],
      "id": "f80e896f-1aeb-49b3-9bc8-5a7b7a2d26f3",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "return $json.messages.map(m => {\n  let body = '';\n  try {\n    const part = m.payload?.parts?.find(p => p.mimeType === 'text/plain');\n    if (part?.body?.data) {\n      body = Buffer.from(part.body.data, 'base64').toString('utf8');\n    } else {\n      body = m.snippet || '';\n    }\n  } catch (e) {\n    body = 'Error decoding body';\n  }\n\n  // Clean unwanted newlines, carriage returns, and extra spaces\n  body = body\n    .replace(/(\\r\\n|\\n|\\r)/g, ' ') // replace line breaks with spaces\n    .replace(/\\s+/g, ' ')          // collapse multiple spaces into one\n    .trim();                       // remove leading/trailing spaces\n\n  return {\n    from: m.From,\n    body\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        336
      ],
      "id": "be4dfa05-5e31-4faf-ae54-0818acb0dde8",
      "name": "Code8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://casepeerai.onrender.com/case/{{ $json.id }}/document/folder/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"case\": {{ $json.id }},\n  \"docname\": \"Acceptance Of {{ $('Switch').item.json.output.Provider_name }} Demo Now\",\n  \"folder\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        1216
      ],
      "id": "582bfa45-1934-4737-a806-cdeabbf0df5d",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/v1/case/case-search/?search={{ $('Switch').item.json.output.Patient_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        1216
      ],
      "id": "2fabe804-4d5a-4d08-b846-7bcfc7d3397c",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3056,
        1216
      ],
      "id": "2cd6998b-05a4-4892-bb73-c41fa2b62744",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1FfoTHFvYJVC9Awc",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fissureless-arline-creepily.ngrok-free.dev/case/1850882/document/upload-file/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        1024
      ],
      "id": "8e8c62bf-7389-4bac-b1a7-c395dab3090c",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://casepeerai.onrender.com/api/proxy_upload_file/{{ (() => { const data = $('HTTP Request5').all(); return data[0].json.case; })() }}\n",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "data"
            },
            {
              "name": "save_to_linked",
              "value": "0"
            },
            {
              "name": "folder_id",
              "value": "={{ $item(0).$node[\"HTTP Request5\"].json.id }}"
            },
            {
              "name": "docname",
              "value": "={{$binary.data.fileName}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3248,
        1216
      ],
      "id": "e4018d5e-b608-4416-8661-0555ddbbb987",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "jsCode": "// Combine all input items into one array inside a single item\nreturn [\n  {\n    json: {\n      emails: $input.all().map(item => item.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        1216
      ],
      "id": "a24c8a1d-b38a-4090-b62b-98c36e240f81",
      "name": "Code9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Code10').item.json.combined_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2848,
        1216
      ],
      "id": "da6ec83b-daff-4c10-90ed-13f8669c1390",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "59zJhvgJ3cPOiPqT",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all emails from input\nconst emails = $input.item.json.emails;\n\n// Combine all into a single text string\nconst combinedText = emails.map(email => {\n  return `From: ${email.from}\\n${email.body}`;\n}).join('\\n\\n---\\n\\n');\n\n// Return one item with a clean text field\nreturn [\n  {\n    json: {\n      combined_text: combinedText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1216
      ],
      "id": "52e1597e-a6cc-48d2-847c-b8dbcc6e6d67",
      "name": "Code10"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $node[\"Get a thread\"].json.messages[0].threadId }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        1440
      ],
      "id": "42454d05-4c4d-4685-a52b-7b57b079ff17",
      "name": "Get a thread2",
      "webhookId": "3ce369d4-c00f-4054-85a9-3d02d4457a7a",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/v1/case/case-search/?search={{ $('Switch').item.json.output.Patient_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        1440
      ],
      "id": "ccc29445-29c8-4829-8bee-62264b89982b",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/case/{{ $json.id }}/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        1440
      ],
      "id": "cf76d497-16a3-4caa-9621-5b9950c4da01",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML returned by your API\nconst html = $json.response;\n\n// --- Extract patient name from <title> ---\nlet patientName = null;\nconst titleMatch = html.match(/<title>\\s*(.*?)\\s*-\\s*Home\\s*<\\/title>/i);\nif (titleMatch) {\n  patientName = titleMatch[1].trim();\n}\n\n// --- Extract selected case status from the <select name=\"casestatus\"> ---\nlet caseStatus = null;\nconst selectRegex = /<select[^>]*name=[\"']casestatus[\"'][^>]*>([\\s\\S]*?)<\\/select>/i;\nconst selectMatch = html.match(selectRegex);\nif (selectMatch) {\n  const selectContent = selectMatch[1];\n  const selectedOptionMatch = selectContent.match(/<option[^>]*selected[^>]*>(.*?)<\\/option>/i);\n  if (selectedOptionMatch) {\n    caseStatus = selectedOptionMatch[1].trim();\n  }\n}\n\n// --- Return extracted results ---\nreturn [{\n  patientName: patientName || 'Unknown',\n  caseStatus: caseStatus || 'Unknown'\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        1440
      ],
      "id": "4f9af46e-4fcd-4e62-a654-40569b7110bb",
      "name": "Code11"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.caseStatus }}",
                    "rightValue": "Lien Negotiations",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "29a87ad4-ed76-4825-a6aa-9bb4a14a15f8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9cd5bea-d731-412c-bab9-99e791c5104c",
                    "leftValue": "={{ $json.caseStatus }}",
                    "rightValue": "disbursement",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1824,
        1440
      ],
      "id": "eae28045-dddf-499c-a15f-d88699687b5d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Get a thread2').item.json.messages[0].threadId }}",
        "messageId": "={{ $('Get a thread2').item.json.messages[$('Get a thread2').item.json.messages.length - 1].id }}",
        "message": "=I hope you are doing well. I wanted to provide you with an update regarding the payment for our client’s case. We truly appreciate your cooperation and the price adjustment you agreed to during our negotiation.\n\nAt this time, the case is still in the lien-negotiation phase. We are currently coordinating with the other medical providers as well as the client to finalize all outstanding matters. Once these negotiations are completed and the final settlement amounts are confirmed, we will be able to process all payments.\n\nBased on the current progress, we anticipate that your payment will be issued within 1 to 2 months. If anything changes or if we are able to expedite the process, I will update you immediately.\n\nThank you again for your patience and collaboration. Please feel free to reach out if you have any questions or need further clarification.\n\nKind regards,",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        1424
      ],
      "id": "2ec28576-5eee-49d6-9813-1d19d0680665",
      "name": "Reply to a message1",
      "webhookId": "ce99d2f5-62bc-4436-8f59-88ce5c01afad",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Get a thread2').item.json.messages[0].threadId }}",
        "messageId": "={{ $('Get a thread2').item.json.messages[$('Get a thread2').item.json.messages.length - 1].id }}",
        "message": "=I hope you are well. I am writing to update you regarding the payment for our client’s case.\n\nThe matter has now moved into the disbursement stage, and we are in the process of completing the final paperwork and internal approvals. Based on the current timeline, we anticipate that your payment will be issued within approximately one month.\n\nWe appreciate your patience and cooperation throughout this process. If you need any additional information, please feel free to reach out at any time.\n\nKind regards,",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        1616
      ],
      "id": "e7ecf3c3-f07f-4897-b594-faf3ea95b88d",
      "name": "Reply to a message2",
      "webhookId": "ce99d2f5-62bc-4436-8f59-88ce5c01afad",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://casepeerai.onrender.com/case/{{ $('HTTP Request7').item.json.id }}/notes/add-case-note/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=note",
              "value": "={{ $('Switch').item.json.output.Provider_name }} Asked for Payment Status"
            },
            {
              "name": "time_worked"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        1424
      ],
      "id": "b6ea18e7-d8d8-4456-a0ff-fe4d916628ba",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://casepeerai.onrender.com/case/{{ $('HTTP Request7').item.json.id }}/notes/add-case-note/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=note",
              "value": "={{ $('Switch').item.json.output.Provider_name }} Asked for Payment Status"
            },
            {
              "name": "time_worked"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        1616
      ],
      "id": "3545150b-abc3-4651-9f34-545c13543338",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "content": "## Getting the new Email's Thread"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        240
      ],
      "typeVersion": 1,
      "id": "b60abbaa-d62b-4ca2-91c9-a2c7549bf61a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Marking The email as read so any email won't get processed twice"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "878c268e-f3b4-43fd-a438-008d4c888226",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Ai To determine Email's Intent Of Email"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        656
      ],
      "typeVersion": 1,
      "id": "5c3c9c55-98ac-4d7e-9b4a-20f6e13386b9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## The Intent switch then used to select the path"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        656
      ],
      "typeVersion": 1,
      "id": "27fd75ae-2d85-49f4-9d39-da42ad06d796",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Requesting API to get Provider's ID and name Patient ID and Name"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        224
      ],
      "typeVersion": 1,
      "id": "32cd0587-27c0-47de-9b94-d7fe8238a1b8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Requesting API to get Provider Related Documents"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        272
      ],
      "typeVersion": 1,
      "id": "13d51497-22ca-4590-971c-7d091f8ca6c7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Accepting the Lien using api after provider has accepted"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3488,
        272
      ],
      "typeVersion": 1,
      "id": "ea8354df-b79c-4473-85f1-e06d0e857712",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Requesting API to get Provider Related Documents"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        1088
      ],
      "typeVersion": 1,
      "id": "bdd58bda-0c0a-4b70-88c6-fa9702719a13",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Requesting API to create a folder in the case"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        1072
      ],
      "typeVersion": 1,
      "id": "ffd16731-9cac-4304-9867-4ba843e6550f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Converting the Email trail into a pdf"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        1088
      ],
      "typeVersion": 1,
      "id": "d7d88d99-fcc9-4445-a39f-90ab5653621a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1LH5NgzrNBcjcCSh1IXiy302BqgAQPGbOVuqo3ZKTNh0",
          "mode": "list",
          "cachedResultName": "Baverly Email Trail",
          "cachedResultUrl": "https://docs.google.com/document/d/1LH5NgzrNBcjcCSh1IXiy302BqgAQPGbOVuqo3ZKTNh0/edit?usp=drivesdk"
        },
        "name": "=Acceptance Of {{ $('Switch').first().json.output.Provider_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2640,
        1216
      ],
      "id": "cce531ea-54cf-4133-bb37-e4eb973b3227",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1FfoTHFvYJVC9Awc",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Uploading the PDF in Casepeer"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        1088
      ],
      "typeVersion": 1,
      "id": "07661a97-0ca2-4108-91cc-55cd888e4367",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/v1/case/case-search/?search={{ $('Switch').item.json.output.Patient_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        416
      ],
      "id": "4c1ecca1-3755-4caa-9bba-33c12715ba4e",
      "name": "HTTP Request13"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/v1/case/case-search/?search={{ $('AI Agent1').item.json.output.MPID[0].PatientName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4336,
        416
      ],
      "id": "92e3242e-0666-40b9-99f2-24fbc5adbd8b",
      "name": "HTTP Request14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://casepeerai.onrender.com/api/negotiations",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"case_id\": \"{{$json.id}}\",\n  \"negotiation_type\": \"Accepted\",\n  \"email_body\": \"{{$('Get a message1').item.json.snippet}}\",\n  \"to\": \"{{ $('Get a message').item.json.headers.to.replace(/^To:\\s*/,'') }}\",\n  \"date\": \"{{$now}}\",\n  \"actual_bill\": {{ parseFloat($('AI Agent1').item.json.output.MPID[0].ActualBill.toString().replace(/[^0-9.]/g, '')) }},\n  \"offered_bill\": {{ parseFloat($('AI Agent1').item.json.output.MPID[0].Amountoffered.toString().replace(/[^0-9.]/g, '')) }},\n  \"sent_by_us\": false,\n  \"result\": \"Accepted\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4528,
        416
      ],
      "id": "9a26ead8-76d4-46b2-953a-bc910512aa01",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3984,
        416
      ],
      "id": "ca1ef2f8-2249-41e6-ab4c-1df5a68db5c1",
      "name": "Get a message1",
      "webhookId": "a597213e-481f-43cf-a305-1f871e64b221",
      "credentials": {
        "gmailOAuth2": {
          "id": "qu1bypdqFgmCNgVo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/v1/case/case-search/?search={{ $('AI Agent2').item.json.output.Patientname }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1984,
        704
      ],
      "id": "73f9d0d8-94a5-4415-87f4-1ca353acbc2b",
      "name": "HTTP Request16"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://casepeerai.onrender.com/api/negotiations",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"case_id\": \"{{$json.id}}\",\n  \"negotiation_type\": \"Rejected\",\n  \"email_body\": \"{{ $('AI Agent2').item.json.output.Body }}\",\n  \"to\": \"{{ $('Get a message').item.json.headers.to.replace(/^To:\\s*/,'') }}\",\n  \"date\": \"{{$now}}\",\n  \"actual_bill\": {{ $('AI Agent2').item.json.output.actualbill }},\n  \"offered_bill\": {{ $('AI Agent2').item.json.output.offeredbill }},\n  \"sent_by_us\": false,\n  \"result\": \"Accepted\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        704
      ],
      "id": "55f4e901-d4fc-459d-91df-0aef3dedcce0",
      "name": "HTTP Request17"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/v1/case/case-search/?search={{ $('AI Agent').first().json.output.Patient_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3744,
        1248
      ],
      "id": "4be48dcd-0eee-4fa8-b6df-9cc1cfdcd8cd",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://casepeerai.onrender.com/api/negotiations",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"case_id\": \"{{$json.id}}\",\n  \"negotiation_type\": \"Provided Details\",\n  \"email_body\": \"Approved\",\n  \"to\": \"{{ $('AI Agent4').item.json.output['Reciever Email'] }}\",\n  \"date\": \"{{$now}}\",\n  \"actual_bill\": {{ $('AI Agent4').item.json.output.actualbill }},\n  \"offered_bill\": {{ $('AI Agent4').item.json.output.offeredbill }},\n  \"sent_by_us\": false,\n  \"result\": \"Provided Details\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3920,
        1232
      ],
      "id": "eea41314-8adb-4c8a-977c-77bbbb2c0eb1",
      "name": "HTTP Request19"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert negotiator. The client has approved our previous offer.\n\nYou can check the email thread here:\n\n{{ $('Code in JavaScript').first().json.formattedThread }}\n\nProvider has accepted the offer give me these details from the thresad\n\nFormat your response as:\n\n**Actual Bill:** amount\n**Offered Amount:** amount\n**Reciever Email:** Email\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3392,
        1216
      ],
      "id": "46f53e99-d8ec-46c1-b3ad-01f6ab8dd138",
      "name": "AI Agent4",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"offeredbill\":\"amount\",\n  \"actualbill\":\"amount\",\n  \"Reciever Email\":\"Email\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3472,
        1504
      ],
      "id": "daef8254-e6b3-4278-8683-ae82a33695d6",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3344,
        1504
      ],
      "id": "26ff3bb1-dc92-4bad-87ab-eae75b54063f",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "7fbCuNCbBrhyTPqW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the thread data - it's an array at the root level\nconst threadData = items[0].json;\n\n// Check if threadData is an array and get the first element\nconst thread = Array.isArray(threadData) ? threadData[0] : threadData;\nconst messages = thread.messages;\n\n// Format each message\nconst formattedMessages = messages.map(m => {\n  let body = '';\n  \n  // Decode message body\n  if (m.payload.body && m.payload.body.data) {\n    body = Buffer.from(m.payload.body.data, 'base64').toString('utf-8');\n  } else if (m.payload.parts) {\n    body = m.payload.parts\n      .filter(p => p.mimeType === 'text/plain' && p.body.data)\n      .map(p => Buffer.from(p.body.data, 'base64').toString('utf-8'))\n      .join('\\n');\n  }\n  \n  return `From: ${m.From || 'Unknown'}\nTo: ${m.To || 'Unknown'}\nDate: ${m.Date || 'Unknown'}\nSubject: ${m.Subject || 'No Subject'}\n\n${body}`;\n}).join('\\n\\n========================================\\n\\n');\n\n// Return formatted thread\nreturn [{\n  json: {\n    threadId: thread.id,\n    formattedThread: formattedMessages\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1216
      ],
      "id": "46206a1e-a755-4ae0-a9d1-00a61c9ac934",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://casepeerai.onrender.com/api/cases",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.id }}\",\n  \"patient_name\": \"{{ $('AI Agent1').item.json.output.MPID[0].PatientName }}\",\n  \"status\": \"Accepted\",\n  \"fees_taken\": {{ $('HTTP Request15').item.json.offered_bill }},\n  \"savings\": {{ parseFloat($('HTTP Request15').item.json.actual_bill) - parseFloat($('HTTP Request15').item.json.offered_bill) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5120,
        416
      ],
      "id": "d0b8eff1-b947-4bd8-a6d0-55a0332b9006",
      "name": "HTTP Request20"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/cases/{{ $json.case_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4736,
        416
      ],
      "id": "0752470e-0eba-4558-a7b1-c2c7475e641e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "=https://casepeerai.onrender.com/api/v1/case/case-search/?search={{ $('AI Agent').item.json.output.Patient_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4944,
        416
      ],
      "id": "a836941f-36ab-4a81-bdf7-f9b12e14f0eb",
      "name": "HTTP Request21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://casepeerai.onrender.com/case/{{ $('HTTP Request21').item.json.id }}/notes/add-case-note/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "note",
              "value": "={{ $('AI Agent').item.json.output.Provider_name }} accepted offer of {{ $('AI Agent1').item.json.output.MPID[0].Amountoffered }}"
            },
            {
              "name": "directed_to",
              "value": "33754"
            },
            {
              "name": "time_worked",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5296,
        416
      ],
      "id": "26fa496b-7140-4e8e-aef8-80af9e614ab7",
      "name": "HTTP Request22"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Get a thread1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a thread2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Get a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message1": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message2": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message1": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "HTTP Request19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request21": {
      "main": [
        [
          {
            "node": "HTTP Request20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request20": {
      "main": [
        [
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0299708-780e-45d0-9c9f-6a84cf8a2ced",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e82d4abdd6eb816597dc8f426c7e69508cc13d63a41073edf573e73f22416c1b"
  },
  "id": "JdHn00W8SYXfq8Lj",
  "tags": []
}